<!DOCTYPE html>
<html>
  <head>
    <title>main form</title>
  </head>

  <body>
    <form action="/choose" method="POST">
      <select id="account" name="account">
        <option selected>Choose...</option>
        <option>Netflix</option>
        <option>ZEE5</option>
        <option>Hotstar</option>
        <option>Balaji</option>
      </select>
    </form>
  </body>
</html>
