<!DOCTYPE html>
<html>
  <head>
    <title>main form</title>
  </head>

  <body>
    <form action="/" method="POST">
      <label for="email">Email id</label>
      <input type="text" id="email" name="email" /><br /><br />
      <label for="password">Passowrd</label>
      <input type="password" id="password" name="password" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
